@mixin centered-flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin button-styling() {
    &:hover {
        filter: brightness(106%);
    }
    
    &:active {
        filter: brightness(94%);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}